.login_box {
	margin: 0 auto;
	position: relative;
}
.login_box .sec-body {
	width: 650px;
	position: absolute;
	left: 50%;
	top:20%;
	transform: translatex(-50%);
	padding:50px;
	border-radius:5px;
	background-color: #fff;
}

* write-table */
.table.write-table th,
.table.write-table td {
	vertical-align: top;
}
.table.write-table th {
	text-align: center;
	border:none;
}
.table.write-table td {
	text-align: left;
	border:none;
}

.table td.has-editor-box {
	padding: 1rem 0;
}

.table td .alert {
	margin-bottom: 0.5rem;
}

.table td .alert:last-child {
	margin-bottom: 0;
}
/*로그인 중간 라인*/
.table .login_line {
	position:relative;
}
.table .login_line::before, .table .login_line::after {
	position:absolute;
	top:49.9%;
	content: "";
	display: block;
	width:45%;
	height: 1px;
	background-color: #888;
}
.table .login_line::after {right:0;}
.table .login_line::before{left:0;}
.table .kakao_btn {
	position:relative;
	background-color: #FEE500 !important;
	color:#000!important;
	border:none !important;
}
.table .kakao_btn::before {
	content: "";
	display: block;
	width: 100%;
	background-size: auto;
	position: absolute;
	background-image: url(../img/kakao_mark.svg);
	left: 0;
	height: 100%;
	background-position-x: 16px;
	background-position-y: 3px;
	background-repeat: no-repeat;
}
.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.2rem #d7920836;
}

.login_link_btn  span {
	padding: 0 10px;
}